body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: lightblue;
}

.content {
    margin: 0 auto;
    inline-size: 400px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    inline-size: 100%;
}

th {
    block-size: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-block-start: 20px;
}

#content {
    inline-size: 70%;
}